body {
    padding-top: 0px;
    padding-bottom: 0px;
}

.upvotes{
    color: orange;
    padding-right: 14px;
}

.footer {
    margin-top: 30px;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;

    color: #777;
    border-top: 1px solid #e5e5e5;
}

@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

textarea{
    resize: vertical;
}

.post{
    table-layout: fixed;
}

.post-title
{
    font-size: 200%;
    font-weight: bold;
}

.upvotebutton{
    border: none;
    border-radius: 5px;
}

.downvotebutton{
    border: none;
    border-radius: 5px;
}

.subscription-button
{
    font-size: 12px;
}

.delete-post-button
{
    font-size: 12px;
}